bdd/**
!bdd/structure+basedata.sql
source/
cvs/**
images/**
photo_profils/**
database/config.php
database/UserModele.php
instructions.md
LICENSE
map.md
.idea/
database/config.php
/nbproject/private/
nbproject*
docker*
*.old
