bdd/**
!bdd/structure+basedata.sql
source/
cvs/**
images/**
photo_profils/**
database/UserModele.php
instructions.md
LICENSE
map.md
.idea/
/nbproject/private/
nbproject*
docker*
*.old
**/config.php
config.php